# Kaggle Restaurant Price Prediction
- - - 
- - - 
- - -

In [3]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\muhlis\anaconda3\lib\site-packages (1.5.12)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dateutil in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (1.25.9)
Requirement already satisfied: six>=1.10 in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (4.47.0)
Requirement already satisfied: python-slugify in c:\users\muhlis\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\muhlis\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\muhlis\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\muhlis\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)

In [6]:
!kaggle competitions download -c restaurant-revenue-prediction

Downloading restaurant-revenue-prediction.zip to C:\Users\MUHLIS\Desktop\66daysofdata\Python\20210622  - Restaurant Price prediction

  0%|          | 0.00/2.68M [00:00<?, ?B/s]
 37%|###7      | 1.00M/2.68M [00:00<00:00, 2.16MB/s]
 75%|#######4  | 2.00M/2.68M [00:00<00:00, 2.28MB/s]
100%|##########| 2.68M/2.68M [00:01<00:00, 1.79MB/s]
100%|##########| 2.68M/2.68M [00:01<00:00, 1.90MB/s]

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F48C-6A56

 Directory of C:\Users\MUHLIS\Desktop\66daysofdata\Python\20210622  - Restaurant Price prediction

06/22/2021  07:38 PM    <DIR>          .
06/22/2021  07:38 PM    <DIR>          ..
06/22/2021  07:29 PM    <DIR>          .ipynb_checkpoints
06/22/2021  07:25 PM    <DIR>          1.Original Data
05/11/2021  04:15 PM    <DIR>          2.Prepared Data
06/22/2021  07:25 PM    <DIR>          3.Uploaded Data
12/22/2019  02:23 PM    <DIR>          4.Analysis
12/22/2019  02:23 PM    <DIR>          5.Insights
12/22/2019  02:23 PM    <DIR>          6.Final
05/29/2021  05:59 AM                64 kaggle.json
06/22/2021  07:37 PM             3,011 Restaurant Price prediction.ipynb
06/22/2021  07:38 PM         2,807,887 restaurant-revenue-prediction.zip
               3 File(s)      2,810,962 bytes
               9 Dir(s)  50,569,510,912 bytes free

## EDA

In [9]:

# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [14]:
# Setting the options for showing rows and columns
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 500)

In [15]:
train_df = pd.read_csv("2.Prepared Data\\train.csv")

In [17]:
train_df.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,4,5,5,3,5,5.0,1,2,2,2,4,5,4,1,3,3,1,1,1.0,4.0,2.0,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,5,5,5,1,5,5.0,0,0,0,0,0,3,2,1,3,2,0,0,0.0,0.0,3.0,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,5,5,5,5,2,5,5.0,0,0,0,0,0,1,1,1,1,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,10,8,10,10,8,10,7.5,6,4,9,3,12,20,12,6,1,10,2,2,2.5,2.5,2.5,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,5,5,5,5,2,5,5.0,2,1,2,1,4,2,2,1,2,1,2,3,3.0,5.0,1.0,3.0,5,1,3,2,3,4,3,3,4316715.0